<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="stringee-cordova-plugin"
    version="1.0.0">

    <!-- Thong tin dinh danh plugin -->
    <name>StringeeCordovaPlugin</name>
    <description>Add live video streaming to your Cordova Application</description>
    <license>Apache 2.0</license>
    <keywords>stringee</keywords>

    <!-- Tham chieu den file javascript code -->
    <asset src="www/stringee.js" target="stringee.js"/>

    <js-module src="www/stringee.js" name="stringee">
      <clobbers target="stringee" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <framework
            custom="true"
            src="build-extras.gradle"
            type="gradleReference" />

        <source-file
            src="src/android/StringeeAndroidPlugin.java"
            target-dir="src/com/stringee/cordova/" />

        <asset
            src="www/stringee.js"
            target="stringee.js" />

        <config-file
            parent="/manifest"
            target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />			
            <uses-feature
                android:name="android.hardware.camera"
                android:required="true" />
            <uses-feature
                android:name="android.hardware.camera.autofocus"
                android:required="false" />           
        </config-file>

        <config-file
            parent="/*"
            target="res/xml/config.xml">
            <feature name="StringeePlugin">
                <param
                    name="android-package"
                    value="com.stringee.cordova.StringeeAndroidPlugin" />
                <param
                    name="onload"
                    value="true" />
            </feature>
        </config-file>
    </platform>

    <!-- iOS -->
    <platform name="ios">
    <hook type="before_plugin_install" src="scripts/downloadiOSSDK.js" />

    <framework src="libicucore.tbd" />
    <framework src="libstdc++.dylib" />
    <framework src="VideoToolbox.framework" />
    <framework src="src/ios/Stringee.framework" custom="true" />
    <framework src="AudioToolbox.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="GLKit.framework" />
    <framework src="CoreFoundation.framework" />
    
      <config-file target="config.xml" parent="/*">
        <feature name="StringeePlugin">
          <param name="ios-package" value="StringeePlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <!-- Tham chieu den file source native -->
      <header-file src="src/ios/StringeePlugin.h" />
      <source-file src="src/ios/StringeePlugin.m" />

    </platform>

</plugin>
